<div class="m-5 border-b-2 pb-5">
  <div class="flex">
    <div class="w-4/6">
      <img src="https://images.squarespace-cdn.com/content/v1/54f9248de4b0b89d005f8d31/1460741568512-6FPVVQQTAKKY17GUJTLQ/IMG_3509_10_11_tonemapped.jpg?format=2500w" alt="Toyko Station">
    </div>
    <div class="px-2 w-2/6 text-center break-all flex flex-col justify-around">
      <h4>Tokyo Station</h4>
      <p>801-627-8288</p>
      <a href="https://www.tokyostationutah.com/" class="underline text-cyan-600">tokyostationutah.com</a>
    </div>
  </div>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident, recusandae voluptatibus! Non ducimus, nam accusamus quia debitis beatae corporis officia excepturi assumenda praesentium placeat cum possimus minus sit pariatur fugiat.
  </p>
</div>
