
<div class="m-5 border-b-2 pb-5">
  <div class="flex justify-around m-2">
    <h4>This is <a href="/user/1" class="uppercase text-cyan-400">Logan</a>'s review of Tokyo Station</h4>
    <p>5 stars</p>
  </div>
  <div class="flex">
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident, recusandae voluptatibus! Non ducimus, nam accusamus quia debitis beatae corporis officia excepturi assumenda praesentium placeat cum possimus minus sit pariatur fugiat.
    </p>
  </div>
</div>
