<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Locally</title>
  <link rel="stylesheet" href="../../public/style/">
</head>

<body>

  <script src=""></script>
</body>
</html>