#main-header {
  font-family: 'Square Peg', cursive;
  text-shadow: 2px 2px black;
}

#b-name {
  text-shadow: 2px 2px black;
}

#b-box {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

#main-name {
  text-shadow: 2px 2px black;
}

@media screen and (min-width: 580px) {
  #b-box {
    box-shadow: none;
  }
}