
{{> header}}


<h1 class="w-full text-center font-mono text-2xl py-5"> 
  Search for information and reviews on all kinds of local businesses.
</h1>

<div class="pb-20 sm:pb-16 flex flex-wrap">
  <section class="w-full sm:w-2/4 sm:border-r">
    <h3 class="w-full text-center border-b-2">Features Business</h3>
  <div id="feature-business" class="relative m-5 shadow-lg">

  </div>

  </section>
  <section class="w-full sm:w-2/4 sm:border-l">
    <h3 class="w-full text-center border-b-2">Featured Review</h3>
  <div id="feature-review" ></div>
  </section>
</div>
<script src="/javascript/homepage.js"></script>