
{{> header}}

<h1 class="w-full text-center font-mono text-2xl py-5"> 
  Search for information and reviews on all kinds of local businesses.
</h1>

<div class="mb-10 flex">
  <section class="w-2/4 border-r">
    <h3 class="w-full text-center border-b-2">Features Businesses</h3>


  </section>
  <section class="w-2/4 border-l">
    <h3 class="w-full text-center border-b-2">Featured Reviews</h3>
    {{> review}}
  </section>
</div>
<script src="/javascript/homepage.js"