<div class="flex flex-wrap w-full justify-center align-middle bg-[url('https://i.ytimg.com/vi/h2zkV-l_TbY/maxresdefault.jpg')]">
  

  <form class="login-form bg-gray-300 w-1/3 p-5 m-5 rounded">
    <div class="p-3">
      <label for="email-login">email:</label>
      <input type="text" id="email-login" class="rounded shadow-2xl"/>
    </div>
    <div class="p-3">
      <label for="password-login">password:</label>
      <input type="password" id="password-login" class="rounded"/>
    </div>
    <div class="p-3">
      <button type="submit" class="bg-stone-500 hover:bg-stone-700 text-white font-bold py-2 px-4 rounded">login</button>
    </div>
  </form>

  <form class="signup-form flex flex-col bg-gray-300 w-1/3 p-5 m-5 rounded">
    <div class="p-3 float-right">
      <label for="username-signup">username:</label>
      <input type="text" id="username-signup" class="rounded"/>
    </div>
    <div class="p-3">
      <label for="email-signup">email:</label>
      <input type="text" id="email-signup" class="rounded"/>
    </div>
    <div class="p-3">
      <label for="password-signup">password:</label>
      <input type="password" id="password-signup" class="rounded"/>
    </div>
    <div class="p-3">
      <button type="submit" class="bg-stone-500 hover:bg-stone-700 text-white font-bold py-2 px-4 rounded">signup</button>
    </div>
  </form>
</div>

<script src="/javascript/login.js"></script>